.c1
{
    background-color:springgreen;
}

.c2
{
    color:brown;
}

.c3
{
    font-size:larger;
    font-family: cursive;
}

.c4
{
    background-color:lightpink;
}

.c5
{
    background-color:lightgrey
}